DATABASE_URL=DATABASE_URL=postgresql://neondb_owner:teri_password_hogi@ep-misty-moon-1234.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
GEMINI_API_KEY=your-gemini-api-key-here
FRONTEND_URL=http://localhost:3000
